<div id="breadcrumb">
    <a href="/" title="Home"
       class="tip-bottom">
        <i class="icon-home"></i> Home
    </a>
</div>

<div class="container-fluid" style="min-height: 585px">

    <div class="row" id="graph-generator" style="display: none">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
            <div class="alert alert-info">
                <p>
                    <strong>INFO:</strong> Graphs are currently generating.
                </p>
            </div>

            <div class="progress progress-striped progress-sm active">
                <div class="progress-bar progress-bar-dark-red" id="graph-generator-progress-bar" style="width: 0"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1 style="margin-bottom:10px; font-size:57px;">Welcome!</h1>

            <p>
                Under the <i>Plugins</i> menu at the top you will find plugins you have access to. From there you can manage
                them and edit settings for them.
            </p>

            <p>
                <a href="/admin/add-plugin/" class="btn btn-success btn-large">
                    <i class="icon-white icon-heart"></i> Add a
                    Plugin
                </a>
            </p>
        </div>
    </div>

</div>